/* Universal selector */
* {
  /* border-top:1px solid #1098ad;  */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Styles which u want to get inherited */
body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
  position: relative;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 40px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* position: relative; */
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 50px;
  /* height: 80px; */
}

.post-header {
  margin-bottom: 40px;
}
/* Images are inline-block */
.post-img {
  width: 100%;
  height: auto;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
  
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
  /* collasing margin with the paragraph above it. */
}

h4 {
  font: size 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}
/* footer p{
  font-size: 16px;
} */

#copyright {
  font-size: 16px;
}

#author {
  font-size: 16px;
  font-style: italic;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
  margin-left: 0;
}

h1,
h2,
h3 {
  color: #1098ad;
}

li:first-child {
  font-weight: bold;
}

/* Misconception this won't work */
article p:first-child {
  color: red;
}

a:any-link {
  color: #1098ad;
  text-decoration: none;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

nav a:link {
  display: inline-block;
 
  margin-right: 20px;
  /* padding: 20px; */
}

nav a:link:last-child {
  margin-right: 0;
}

.like-button {
  font-size: 20px;
  padding: 20px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

h1::first-letter {
  font-style: normal;
  margin-right: 10px;
}

h2 {
  position: relative;
  /* background-color: orange; */
}

h2::after {
  content: "TOP";
  position: absolute;
  font-size: 20px;
  color: #444;
  top: -10px;
  right: -10px;
  background-color: yellow;
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
}

/* FLOATS */
/* 
.author-img{
  float:left;
  margin-bottom: 20px;
}

.author{
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

h1{
  float: left;
}

nav{
  float: right;
}

/* clearfix class is added to thr element whosew height gets collapsed, and we add ::after to insert a pseudo element to the end of the header, and set the clear property to both, and content='' & display to block, since clear only works with block elements */
/* 
.clearfix::after{ 
  content: '';
  display: block;
  clear:both;
}

article{
/* background-color: red; */
/* float: left;
width:825px;
}

aside{
/* background-color: green; */
/* float:right;
width:300px;
}

footer{
/* background-color: yellow; */
/* clear:both;
}  */ 

/* flexbox */

.main-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author{
  margin-bottom: 0;
  margin-left: 15px;;
}

.related-posts{
  display: flex;
  align-items: center;
  gap: 20px;
}

.related-author{
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.related-link:link{
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;

  
}

.row{
  display: flex;
  gap: 75px;
  align-items: flex-start;
  margin-bottom: 60px;
}

aside{
  /* DEfaULT VALUES
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto; */
    flex : 0 0 300px;
}

